body{
  display: flex;
  flex-direction: column;
  background: rgb(147, 221, 129);
  font-size: 100%;
}

section:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 0;
}

section:nth-child(2) figure, section:nth-child(2) img{
  /*height: 300px;
  width: 300px;*/
  margin: 0;
  margin-left: 10%;
  width: 70%;
  z-index: -1;
}

section:nth-child(2) span{
  font-size: 25pt;
  color:rgb(233, 137, 24);
  animation: 2s wel;
  z-index: -1;
}

@keyframes wel{
  0%{color: transparent}
  100%{color:rgb(233, 137, 24);
}

}

body section:nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

section:nth-child(3) form{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(4){
  width: 100%;
  text-align: center;
  font-size: 10pt;
}

footer{
  font-size: 10pt;
}

fieldset{
  text-align: center;
  border: none;
  padding-top: 0;
}

fieldset legend{
  font-size: 15pt;
  font-weight: bold;
  color:rgb(233, 137, 24);
}

input{
  border: transparent;
  padding: 7px;
  border-radius: 5px;
}

input:not([type='button']){
  background-color: rgb(20, 122, 8);
  box-shadow: inset 0 0 1px rgb(7, 34, 1);
  color: white;
  transition: 0.5s;
}

input:not([type='button']):hover{
    background-color: rgb(59, 222, 44);
}

input[type='button']{
  padding: 10px 30px;
  background: transparent;
  background-image: url("wood_button.png");
  background-size: cover;
  color: rgb(87, 46, 9);
  font-weight: bold;
  margin-left: 50%;
}

input[type="button"]:hover{
  animation: trembling 0.5s;
  cursor: pointer;
}

@keyframes trembling {
  20%{ transform: rotate(-10deg)}
  40%{ transform: rotate(10deg)}
  60%{ transform: rotate(-10deg)}
  80%{ transform: rotate(10deg)}
  100%{ transform: rotate(0deg )}
}

input:not([type='button']):focus{
  box-shadow: 0 0 5px white;
  border: solid 1px;
}

footer{
  width: 50%;
  align-self: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span{
  width: 80%;
  align-self: center;
  color: red;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
  padding: 3px 0px 3px 0px;
}

@media screen and (min-width: 450px) {
  section:nth-child(2) span{
    font-size: 35pt;
  }
}

@media screen and (min-width: 800px) {
  section:nth-child(2) span{
    font-size: 50pt;
  }
}
