body{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224,238,224);
}

body > *{
  font-family: cursive;
  font-size: 100%;
}

header{
  width: 100%;
  align-self: center;
  text-align: center;
  border-bottom: 2px solid lightGreen;
}

header span{
  color: green;
  font-size: 20pt;
  font-weight: bolder;
}

header+div{
  align-self: center;
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 120%;
}

span{
  text-align: center;
  width: 100%;
}

section:nth-child(2){
  width: 100%;
  align-self: center;
}

section form{
  width:80%;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-left: 10px;
}


.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  align-self: center;
  border: none;
  margin: 10px 10px 10px 0px;
  padding: 5px;
  /*background-color: rgb(255,255,255);*/
}

.card div{
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

span{
  color: rgb(61, 167, 12);
  font-size: 12pt;
  align-self: center;
  margin-bottom: 25px;
}

#main{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input[type='radio']{
  margin-left: 0px;
}

fieldset[id='cc']{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: center;
  margin: 10px 10px 10px 0px;
  padding: 5px;
  border: none;
}

fieldset[id='cc'] input{
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
  width: 70%;
  border:none;
  background-color: green;
  color: black;
  transition: 0.5s;
}

fieldset[id='cc']  input:hover{
  background-color: rgb(61, 222, 52);
}

input[id='sub']{
  border-radius: 5px;
  padding: 10px;
  background-color: green;
  color: white;
  font-weight: bolder;
  width: 35%;
  border: none;
  font-family: cursive;
  transition: 0.5s;
}

#sub:hover{
  background-color: rgb(61, 222, 52);
}
@media screen and (min-width:450px){

span{
  font-size: 15pt;
}
section form{
    width:100%;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .card{
    order: 1;
    width: 100%;
    align-self: center;
    border: none;
    margin: 10px 10px 10px 0px;
    padding: 5px;
    /*background-color: rgb(255,255,255);*/
  }

  .card div{
    align-self: center;
  }

  input[type='radio']{
    margin-left: 0px;
  }

  fieldset[id='cc']{
    order: 2;
    width: 100%;
    align-self: center;
    margin: 10px 10px 10px 0px;
    padding: 15px 15px 15px 15px;
    border: none;
  }

  fieldset[id='cc'] input{
    width: 50%;
    border:none;
    background-color: green;
    color: white;
  }

  input[id='sub']{
    order: 3;
    width: 20%;
  }

}
