body{
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(213, 237, 168);
}

header h1{
  color: rgb(21, 121, 0);
  text-align: center;
  font-size: 15pt;
  margin-top: 40px;
}

span p{
  align-self: center;
}

#resume{
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(39, 154, 97);
  font-weight: bolder;
}


input[id='minus']{
  background: transparent;
  border: none;
  background-image: url("minus11.png");
  background-size: cover;
}

input[id='plus']{
  background: transparent;
  border: none;
  background-image: url("plus1.png");
  background-size: cover;
}

input[id='delete']{
  background: transparent;
  border: none;
  background-image: url("minus.png");
  background-size: cover;
}

#input, #plus, #delete{
  width: 15px;
  height: 15px;
}

#delete{
  display: none;
}

table{
  width: 80%;
  align-self: center;
  border: none;
}

table th{
  color: rgb(36, 166, 11);
  font-size: 12px;
}

table tbody tr{
  background: linear-gradient(to bottom right, rgb(0,100,0), rgb(154,255,154));
}

table tbody tr td{
  text-align: center;
  font-size: 10px;
  background: linear-gradient(to bottom right, rgb(193, 205, 193), rgb(224, 238, 224));
}

.image, #empty{
  display: none;
}

#payment{
  align-self: center;
  margin-top: 50px;
  padding: 10px 10px 10px 20px;
}

#pay{
  background-color: rgb(24, 92, 11);
  transition: 0.1s;
  color: white;
  border-radius: 10px;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
}

#pay:hover{
  background-color: rgb(59, 222, 44);
  border: solid white 1px;
}

#tab{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 100%;
}

#error{
  text-align: center;
}
#error > label{
  text-align: center:
  align-self: center;
  color: red;
  font-weight: bolder;
}

@media screen and (min-width: 800px) {
  body section:nth-child(2){
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
  }


}

@media screen and (min-width: 450px) {
  .image, #empty{
    display: block;
  }


  table tbody tr td{
    font-size: 15px;
  }

  #resume{
    align-self: center;
    color: rgb(39, 154, 97);
    font-size: 30px;
    font-weight: bolder;
  }

  #delete{
    display: inherit;
  }

  #input, #plus, #delete{
    width: 20px;
    height: 20px;
  }

}
