body{
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 237, 168);
}

header{
  margin-top:-10px;
  align-self: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > div:first-child{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(147, 221, 129);
  padding: 10px 0px 20px 0px;
  border-bottom: solid 4px rgb(75, 227, 57);
  align-items: center;
  align-self: center;
}

.fixed {
	position: fixed;
  top: 0;
}

header > figure:first-child, header>figure>img:first-child{
  width: 90px;
  height: 90px;
}

header>div span:first-child, header>div:first-child span:nth-child(2){
  font-size: 30pt;
}

header p{
  margin: 0;
}
header div > div:first-child{
  animation: 0.5s /*show_s*/;
  animation-delay: 1.5s;
  display: flex;
  flex-direction: column;
}

header > div:nth-child(2){
  background-image: url("background.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  width: 100%;
  height: 150px;
}

header > img{
  opacity: 1;
}

header div span{
  font-family: foxeat;
  color: white;
  margin-left: 20px;
}
@font-face {
  font-family: foxeat;
  src: url("orange juice 2.0.ttf") format('truetype');
}

@font-face {
  font-family: phrase;
  src: url("Miss Smarty Pants.ttf") format('truetype');
}
/*header div span:first-child{
  color: rgb(252, 91, 0);
}*/
header div:first-child p:nth-child(2){
  font-family: phrase;
  margin-top: -10px;
  font-size: 10pt;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

header div p:last-child{
  color: white;
}

#presentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#presentation div:first-child{
  background-color: rgb(147, 221, 129);
  width: 100%;
  border-bottom: solid 4px rgb(75, 227, 57);
}

#presentation div:first-child h1{
  color: white;
  font-size: 20pt;
  font-family: phrase;
}

#presentation div:last-child{
  width: 80%;
}
#presentation div:last-child h2{
  font-size: 14pt;
  font-weight: lighter;
}

#presentation div:last-child p{
  font-size: 12pt;
  font-weight: lighter;
  font-family: sans-serif;
}


#news{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#news > div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: rgb(147, 221, 129);
  width: 100%;
  border-bottom: solid 4px rgb(75, 227, 57);
}

#news > div:first-child h1{
  align-self: center;
  color: white;
  font-size: 20pt;
  font-family: phrase;
}

#news input{
  align-self: center;
}

#news div:nth-child(2){
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
}

#news div:nth-child(2) div[id='before']{
  width: 15%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#news div:nth-child(2) div[id='img']{
  width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#news div:nth-child(2) div[id='next']{
  width: 15%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#news > div:last-child{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-bottom: 10px;
}

#news div[id='img'] img{
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 15px;
}

#news div:last-child p{
  color: rgb(61, 145, 64);
  font-weight: bold;
  margin-bottom: 0;
  align-self: center;
}

#ingredients{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ingredients > div:first-child{
  background-color: rgb(147, 221, 129);
  width: 100%;
  border-bottom: solid 4px rgb(75, 227, 57);
  margin-bottom: 10px;
}

#ingredients > div:first-child h1{
  color: white;
  font-size: 20pt;
  font-family: phrase;
  text-align: center;
}

#ingredients > div div{
  text-align: center;
  margin-bottom: 15px;
}

#ingredients > div div{
  color: white;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 200px;
  padding: 30px 20px 60px 20px;
}

#ingredients > div div:first-child{
  background-image: url("dolci_back.jpg");
}
#ingredients > div div:nth-child(2){
  background-image: url("pane_back.jpg");
}
#ingredients > div div:nth-child(3){
  background-image: url("etnic_back.jpg");
}
#ingredients > div div:last-child{
  background-image: url("pizza_back.jpg");
}

input{
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  font-size: 20px;
  color: white;
  background-color:rgb(61, 145, 64);
  transition: 0.5s;
}

input:hover{
  background-color:rgb(20, 220, 20);
  border: solid 1px rgb(61,145,64);
}

input.prev, input.next{
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color:rgb(61, 145, 64);
}

input.prev:hover, input.next:hover{
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color:rgb(20, 220, 20);
}

@media screen and (min-width: 450px) and (max-width: 800px) {

  #news div[id='img'] img{
    width: 270px;
    height: 270px;
  }
}

@media screen and (min-width: 800px){

  header{
    margin-top:-10px;
    align-self: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header > div:first-child{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(147, 221, 129);
    padding: 10px 0px 20px 0px;
    border-bottom: solid 4px rgb(75, 227, 57);
    justify-content: space-between;
  }



  .fixed {
  	position: fixed;
    top: 0;
  }

  header > figure:first-child, header>figure>img:first-child{
    width: 90px;
    height: 90px;
  }

  header>div span:first-child, header>div:first-child span:nth-child(2){
    font-size: 30pt;
  }

  header p{
    margin: 0;
  }
  header div > div:first-child{
    animation: 0.5s /*show_s*/;
    animation-delay: 1.5s;
    display: flex;
    flex-direction: column;
  }

  header > div:nth-child(2){
    background-image: url("background.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 150px;
  }

  header > img{
    opacity: 1;
  }

  header div span{
    font-family: foxeat;
    color: white;
    margin-left: 20px;
  }

  #news div[id='img'] img{
    width: 500px;
    height: 360px;
  }

}
