body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: rgb(147, 221, 129);
}

body > *{
  font-family: cursive;

}

form{
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}

form>fieldset{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

fieldset:nth-child(2){
  width: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;

}

label {
  align-self: center;
  width: 90%;
}


input[type='number']{
  align-self: center;
  width: 70%;
}

input[type='button']{
  align-self: center;
  width: 70%;
}

fieldset:nth-child(3){
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}



input[type='text']{
  align-self: center;
  width: 70%;
}

input[type='email']{
  align-self: center;
  width: 70%;
}



fieldset:nth-child(4){
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

input[type='password']{
  align-self: center;
  width: 70%;
}

fieldset{
  width: 90%;
  margin-top: 10px;
  border-radius: 5px;
  border: transparent;
  box-shadow: inset 0 0 2px rgb(7, 34, 1);
}

input{
  background-color:  rgb(147, 221, 129);
  border-radius: 5px;
  border: transparent;
  box-shadow: inset 0 0 2px rgb(7, 34, 1);
  color: white;
  padding: 10px;
  margin-top: 10px;
  transition: 1s;
}
input[type='radio']+label{
  font-size: 14pt;
}

input:hover{
  background-color: rgb(32,158,16);
  font-weight: bold;
}

form div{
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div input[type='submit'], input[type='reset']{
      align-self: center;
      width: 25%;
      margin-top: 10px;
      font-size: 10pt;
      box-shadow: none;
      background: transparent;
      border: 1px solid rgb(87, 46, 9);
      color: rgb(87, 46, 9);
      font-weight: bold;
      cursor: pointer;
  }


input[type='submit']:hover, input[type='reset']:hover{
  animation: pulse 1s;
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

input:focus{
  box-shadow: 0 0 5px white;
  border: solid 1px;
}

input[type='submit'], input[type='reset']:focus{
  box-shadow: none;
  border: transparent;
}

form>fieldset{
  width :90%;
  margin-left: 10px;
}


form fieldset fieldset legend span{
  background-color: rgb(32,158,16);
  padding: 5px 10px 5px 10px;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  border: 1px solid rgb(7, 34, 1);
  margin-left: 2px;

}

fieldset:first-child>legend{
  font-size: 24pt;
  color: rgb(128, 65, 46);
  border: transparent;
}

form > fieldset > legend::first-letter{
  font-size: 34pt;
  color: rgb(255, 128, 0);
}

form fieldset fieldset legend{
  font-size: 12pt;
  color: rgb(4, 41, 9);
}


footer{
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

footer span{
  width: 80%;
  align-self: center;
  color: red;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}
