body{
  background-color: rgb(224,238,224);
  display: flex;
  flex-flow: column;
  align-items: center;
}

body > *{
  font-family: Arial;
  font-size: 100%;
}

body>section{
  align-self: center;
  width: 80%;
  background-color: rgb(193,205,193);
  border: 1px solid black;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section h1{
  text-align: center;
}

section p{
  text-align: center;
}

div[id='gestione']{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav{
  align-self: center;
}

nav ul{
  padding: 5px 20px 5px 0px;
  text-align: center;
}

li{
  list-style: none;
  margin: 5px 5px 5px 5px;
}

li a{
  color: black;
  text-decoration-line: none;

}

li a:hover{
  color: rgb(131,139,131);
  text-decoration-line: underline;
}

div[id='gestione'] div:nth-child(2){
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

input{
  background-color: transparent;
  align-self: center;
  border: 2px solid green;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  transition: 0.5s;
}

input:hover{
  background-color: darkgreen;
  color: white;
  box-shadow: 5px 5px 2px rgb(131,139, 131);
}

@media screen and (min-width: 500px) {

body section{
    width: 45%;
  }

body > *{
  font-size: 120%;
}


}
