body{
  background-color: rgb(224,238,224);
  display: flex;
  flex-flow: column;
  align-items: center;
}

body > *{
  font-family: Arial;

}

body > header{
  align-self: center;
  background-color: rgb(193, 205, 193);
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header > nav {
  align-self: flex-end;
}

a{
  font-family: cursive;
  font-weight: bold;
  text-decoration-line: none;
  color: rgb(105, 139, 105);
}

a:hover{
  text-decoration-line: underline;

}


nav ul li input{
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-family: Arial;
  font-size: 100%;
  margin-bottom: -5px;

}

nav ul li input:hover{
  cursor: pointer;
}

h1{
  font-size: 14pt;
  text-align: center;
}

section p label:first-child{
  margin-left: 2%;
  padding: 1% 2% 1% 2%;
  background-color: red;
  border-radius: 100px;
  border: 2px solid white;
  color: white;
}

section{
  width: 80%;
  align-self: center;
  background-color: rgb(193,205,193);
  margin-top: 60px;
  border: 1px solid black;
  padding: 5px;
}

input[type='submit']{
  margin-top: 10px;
  cursor: pointer;
  border: 0.5px solid black;
}

input[type='text']{
  width: 70%;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[name="login"], input[name='insert']{
  align-self: center;
  background: navy;
  color: white;
  padding: 5px;
}

@media screen and (min-width:450px){

  section{
    width: 40%;
    margin-top: 100px;
    padding: 10px;
  }

}

@media screen and (min-width:760px){
  header > nav {
    padding: 15% 0% 10% 77%;
  }

}
