table{
  border: 1px solid darkgreen;
}

th,td,tr{
  border: 1px solid darkgreen;
  text-align: center;
  font-size: 10px;
}

input[name="conferma"]{
  font-size: 10px;
}
th{
  background-color: darkgreen;
  color: white;
}
h1{
  font-size: 20pt;
  color: darkgreen;
}

#number, td[headers="number"]{
  display: none;
}

@media screen and (min-width:450px) {

  #number, td[headers="number"]{
    display: block;
    padding: 15px;
  }

  th,td,tr{
    border: 1px solid darkgreen;
    text-align: center;
    font-size: 12px;
  }

  input[name="conferma"]{
    font-size: 12px;
  }
}

@media screen and (min-width:800px) {


  th,td,tr{
    font-size: 15px;
  }

  input[name="conferma"]{
    font-size: 15px;
  }
}
