body{
  background-color: rgb(224,238,224);
  display: flex;
  flex-flow: column;
  align-items: center;
}

body>*{
  font-size: 100%;
  font-family: Arial;
}

body > header{
  align-self: center;
  background-color: rgb(193, 205, 193);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header > nav {
  align-self: flex-end;
}

a{
  font-family: cursive;
  font-weight: bold;
  text-decoration-line: none;
  color: rgb(105, 139, 105);
}

a:hover{
  text-decoration-line: underline;

}


body>div{
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div>form{
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset{
  width: 95%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(131,139,131);
}

fieldset > *{
  padding: 15px 0px 15px 0px;
}

input[type='button']{
  padding: 5px 8px 5px 8px;
  margin: 8px 8px 8px 8px;
  background-color:  rgb(131,139,131);
  border: none;
  color: white;
  transition: 0.5s;
}

input[type='button']:hover{
  background: darkgreen;
}
select, input[id='sconto']{
  background-color: rgb(131,139,131);
  color: white;
  border: none;
  height: 30px;
}

@media screen and (min-width: 500px) and (max-width: 760px){

  body > *{
    font-size: 130%;
  }
  fieldset{
    width: 60%;
  }

}

@media screen and (min-width:760px){
  fieldset{
    width: 60%;
  }
}
