body{
  font-size: 100%;
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224,238,224);

}

body > header{
  align-self: center;
  width: 100%;
  background-color: rgb(193,205,193);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header > nav{
  align-self: flex-end;
}

a{
  font-family: cursive;
  font-weight: bold;
  font-size: 110%;
  text-decoration-line: none;
  color: rgb(105,139,105);
}

table{
  margin-top: 50px;
}

caption{
  font-size: 20pt;
  color: darkgreen;
  margin-bottom: 20px;
}
tr,td,th{
  text-align: center;
  border: 1px solid black;
  font-size: 8pt;
}

input{
  background-color: transparent;
  align-self: center;
  border: 2px solid green;
  margin: 5px 5px 5px 5px;
  transition: 0.5s;
}

input:hover{
  background-color: darkgreen;
  color: white;
  box-shadow: 5px 5px 2px rgb(131,139, 131);
}

th{
  color: rgb(39, 193, 0);
  font-size: 13pt;
}

td{
  background: white;
}
td[headers="nome"]{
  background-color: rgb(224,238,224);
  font-weight: bolder;
}

#price, td[headers="price"]{
  display: none;
}

@media screen and (min-width: 450px) {
  #price, td[headers="price"]{
    display: block;
    padding: 10px;
  }

  tr,th,td,input{
    font-size: 12pt;
  }
}
