table{
  border: 1px solid darkgreen;
}

th,td,tr{
  border: 1px solid darkgreen;
  text-align: center;
  font-size: 15px;
}

th{
  background-color: darkgreen;
  color: white;
}

h1{
  text-align: center;
  font-size: 20pt;
  color: darkgreen;
}
