body{
  display: flex;
  flex-direction: column;
  background-color: rgb(147, 221, 129);
}

body > *{
  font-family: cursive;
  font-size: 100%;
}

h1{
  text-align: center;
  color: darkgreen;
}
header{
  width: 100%;
  margin-top: 0px;
  padding: 0;
}
#inf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header_personal{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 0px;
}

#header_personal div:first-child{
  width: 100%;
  height: 100px;
  background: rgb(147, 221, 129);
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header_personal div:first-child label{
  align-self: flex-end;
  margin-bottom: 5px;
}

#header_personal div:first-child label input{
    margin-bottom: 10px;
    align-self: center;
    color: rgb(20, 122, 8);
    font-size: 10pt;
    font-family: cursive;
    padding: 0px 15px 0px 15px;
    border: none;
}

#header_personal div:first-child label input:hover{
  background-color: rgb(20, 122, 8);
  color: rgb(147, 221, 129);
  font-size: 12pt;
}


#header_personal div:nth-child(2){
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#header_personal div:nth-child(2) h1{
  color: white;
  align-self: flex-start;
  font-size: 20pt;
  margin-top: 140px;
  margin-left: 20px;
  font-family: fontPersonalizzato1;
}

#header_personal div:nth-child(2) h2{
  color: white;
  align-self: flex-end;
  font-size: 10pt;
  margin-top: 270px;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
  margin-right: 20px;
}

#header_personal div:first-child label{
  flex: 10%;
  align-self: flex-end;
  color:rgb(238, 64, 0);
  font-size: 12pt;
}

.btn_primary{
  border: none;
  font-family: cursive;
  padding: 15px;
  border-radius: 5px;
  /*background-color: rgb(20, 122, 8);*/
  box-shadow: inset 0 0 5px rgb(7, 34, 1);
  color: rgb(20, 122, 8);
}

.btn_primary:hover{
  background-color: rgb(20, 122, 8);
  color: rgb(147, 221, 129);
  font-size: 12pt;
}

input[type='button']:active, input[type='submit']:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body section[id='choice1']{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(147, 221, 129);
  align-self: center;
  text-align: center;
  color: rgb(0,0,0);
  margin-top: 20px;
}

select[name='c_select']{
  align-self: center;
  height: 30px;
  width: 120px;
  padding: 5px;
  line-height: 20px;
  border: none;
  overflow: hidden;
  background-color: rgb(61, 145, 64);
  box-shadow: 5px 5px 2px rgb(61, 145, 64);
  color: white;
}

 div[id='choice']{
   align-self: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
  }

div[id='choice'] form{
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div[id='choice'] > form input{
  margin-left: 2%;
  border-radius: 5px;
}

form > *{
  align-self: center;
}


div[id='choosePane']{
  /*background-color: red;*/
  width:100%;
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-around;


}
div[id='choosePane'] div{
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div[id='choosePane'] div:nth-child(2) img{
  border: none;
  background: none;
  display: none;
}

div[id='choosePane'] div:nth-child(2) img:nth-child(2){
  border-radius: 100px;
  width: 120px;
  height: 120px;
  margin: 20px;
  display: block;
}

div[id='prev'], div[id='next']{
  width: 8%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

div[id='prev'] button.btn-primary_p, div[id='next'] button.btn-primary_n{
  align-self: center;
  background-color: rgb(61, 145, 64);
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
  width: 25px;
  height: 25px;
}

body section:nth-child(3){
  width: 100%;
  background-color: rgb(147, 221, 129);
  box-shadow: 5px 5px 2px rgb(61, 145, 64);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
  color : rgb(0,0,0);
  margin-top: 40px;
  margin-bottom: 40px;

}

body section:nth-child(3) div:first-child{
  background-color: red;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  justify-content: space-around;

}

body section:nth-child(3) div div:first-child{
  align-self: center;
  width: 70%;
  order:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showIm{
  align-self: center;
  width: 30%;
}

#showIm > img{
  width: 100%;
  border-radius: 30px;
}

#mainDiv > div:nth-child(2){
  text-align: center;
}

#mainDiv > div:nth-child(2) > span{
  font-size: 20pt;
  color: rgb(6, 154, 17);
  font-weight: bolder;
}

#mainDiv > div:nth-child(2) > p{
  font-size: 15pt;
  color: black;
}

body section:nth-child(3) div div:nth-child(2){
  width: 30%;
  display: flex;
  order:2;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

body section:nth-child(3) div div:last-child{
  width: 100%;
  order: 3;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body section:nth-child(3) div div:last-child p{
  width: 100%;
  align-self: center;
  border: rgb(10, 99, 11) 1px solid;
  background-color: rgb(255, 255, 255);
}

#news{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#news input{
  align-self: center;
}

#news > div:first-child{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(147, 221, 129);
  width: 100%;
}

#news > div:first-child h1{
  align-self: center;
  color: white;
  font-size: 20pt;
  font-family: phrase;
}
#news > div:nth-child(2){
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#news > div div:last-child{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

#news div:nth-child(2) div[id='next']{
  width: 10%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#news div:nth-child(2) div[id='img']{
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#news div:nth-child(2) div[id='before']{
  width: 10%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#news > div div:last-child p{
  align-self: center;
}

#news img{
  width: 100px;
  height: 100px;
  float: left;
  align-self: center;
}

#news input[type='button']{
  color: rgb(61, 145, 64);
  border: none;
  align-self: center;
}

#news input[type='button']:hover{
  background-color: rgb(61, 145, 64);
  color: rgb(147, 221, 129);
}


@media screen and (min-width: 450px) and (max-width:800px){

 #header_personal div:first-child nav{
    margin-right: -78%;
  }
  #header_personal div:nth-child(2) h1{
    align-self: center;
    font-size: 40pt;
  }

  #header_personal div:nth-child(2) h2{
    font-size: 15pt;
    align-self: flex-end;
    margin-top: 200px;
    margin-bottom: 5px;
    text-align: right;
  }

  #news img{
    width: 160px;
    height: 160px;
    float: left;
  }

select[name='c_select']{
  align-self: center;
  height: 30px;
  width: 280px;
  font-size: 110%;
}

input[value='Vai!']{
  width: 100px;
  height: 40px;
  font-size: 110%;
}

input[value='Vai!']:hover{
  font-size: 110%;
}

div[id='choosePane'] div:nth-child(2) img:nth-child(2){
  width: 180px;
  height: 180px;
  display: block;
  }

  body section:nth-child(3){
    width: 100%;

  }

  body section:nth-child(3) div div:first-child img{
    border: 1px solid green;
    width: 160px;
    height: 160px;
  }

  body section:nth-child(3) div div:last-child p{
    font-size: 12pt;
  }
}

@media screen and (min-width:800px){
  #showIm{
    display: block;
  }
  select[name='c_select']{
    align-self: center;
    height: 50px;
    width: 380px;
    font-size: 130%;
  }

  input[value='Vai!']{
    width: 100px;
    height: 60px;
    font-size: 130%;
}

input[value='Vai!']:hover{
  font-size: 130%;
}

  #header_personal div:first-child{
    width: 100%;
    height: 100px;
    background: rgb(147, 221, 129);
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  #header_personal div:first-child label{
    align-self: flex-end;
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 20pt;
  }

  #header_personal div:first-child label input{
      align-self: center;
      color: rgb(20, 122, 8);
      font-size: 10pt;
      font-family: cursive;
      padding: 0px 15px 0px 15px;
      border: none;
      width: 150px;
      height: 50px;
  }

  #news img{
    width: 350px;
    height: 300px;
    float: left;
    align-self: center;
  }

  #news input[type='button']{
    width: 60px;
    height: 60px;
    color: rgb(61, 145, 64);
    border: none;
    align-self: center;
  }



  body section:nth-child(2){
    width: 60%;
    margin-top: 20px;
  }

  section:nth-child(2) h3{
    font-size: 18pt;
  }

  div p{
    font-size: 15pt;
  }

  div[id='choosePane']{
    margin-top: 30px;
  }

  div[id='choosePane'] div:nth-child(2) img{
    padding: 20px;
    margin: 10px;
    align-self: center;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: block;
  }

  div[id='choosePane'] div:nth-child(2) img:nth-child(2){
  width: 130px;
  height: 130px;
  display: block;
  }

  body section:nth-child(3){
    width: 60%;
  }


  body section:nth-child(3) div div:last-child p{
    font-size: 15pt;
  }

  footer{
    width: 100%;
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
  }
}
