
#head{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#head > div{
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#head figure{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#head figure img{
  width: 40px;
  height: 40px;
}

#head  figure span:nth-child(2){
  font-size: 20pt;
  color:rgb(233, 137, 24);
}

#head  figure span:nth-child(3){
  font-size: 20pt;
  color:rgb(200, 176, 71);
}

#head figure span:nth-child(3) , #head  figure span:nth-child(2) , #head figure img, #head figure{
  display: none;
}

#head ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: 0px;
}

#head  li{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

li img{
  width: 15px;
  height: 15px;
}

li a{
  color: rgb(20, 122, 8);
  text-align: center;
  text-decoration: none;
  font-size: 10pt;
  font-family: cursive;
  padding: 0px 0px 0px 10px;
  transition: 0.1s;
}

#head div:last-child li a{
  color: rgb(147, 221, 129);
  opacity: 0;
  margin-left: -20px;
  transition: 0.1s;
}

li a:hover{
  text-decoration: underline;
}

#head div:last-child li a:hover{
  margin-left: 0;
  opacity: 1;
  font-size: 10pt;
  color: rgb(20, 122, 8);
}

li a:hover{
  color: rgb(38, 148, 35);
  text-decoration: none;
  font-size:  10pt;
}


@media screen and (min-width: 450px) {
  #head{
    flex-direction: row;
    justify-content: center;
  }
  #head div:last-child li a{
    color: rgb(147, 221, 129);
    opacity: 0;
    margin-left: -40px;
    transition: 0.1s;
  }
  #head div:last-child li a:hover{
    margin-left: 0;
    opacity: 1;
    font-size: 10pt;
    color: rgb(20, 122, 8);
  }
  li a:hover{
    color: rgb(38, 148, 35);
    text-decoration: none;
    font-size:  10pt;
  }
  li img{
    display: block;
    height: 20px;
    width: 20px;
  }
}


@media screen and (min-width: 800px) {
  #head{
    justify-content: space-between;
  }

  #head figure{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #head figure span:nth-child(3) , #head  figure span:nth-child(2) , #head figure img{
    display: block;
  }

  li a{
    font-size: 15pt;
  }

  #head div:last-child li a:hover{
    font-size: 15pt;
  }

  li a:hover{
    font-size:  20pt;
  }

  li img{
    height: 40px;
    width: 40px;
  }
}
