body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(147,221,129);
}

body > *{
  font-size: 100%;
  font-family: sans-serif;
}

section{
  align-self: center;
  width: 100%;
  text-align: center;
  margin: 30px 10px  30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid  rgb(75, 227, 57);
}

section h1{
  align-self: center;
  font-size: 32pt;
  font-weight: bold;
  color: darkorange;
}

section h1::first-letter{
  font-size: 42pt;
  color: brown;
  font-family: cursive;

}

article{
  align-self: center;
  padding: 40px 70px 10px 90px;
  text-align: justify;
  font-size: 130%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h2{
  align-self: center;
  margin: 20px 0px 20px 0px;
  font-family: cursive;
  color: darkorange;
  text-decoration: underline;
}

@media screen and (max-width: 450px){
  h2{
      font-size: 83%;
      font-weight: bold;
  }

  article{
    font-size: 90%;
  }
}

@media screen and (min-width: 450px) and (max-width:760px){
  h2{
      font-size: 105%;
  }

  article{
    font-size: 100%;
  }
}
