body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(147,221,129);
}

body>*{
  font-family: sans-serif;
  font-size: 100%;
}

section{
  width: 100%
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 30px 0px;
  text-align: center;
}

div{
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div ul{
  align-self: center;
}

section h1{
  font-size: 32pt;
  font-weight: bold;
  color: darkorange;
}

section h1::first-letter{
  font-size: 42pt;
  color: brown;
  font-family: cursive;

}

div ul li{
  padding: 30px 0px 30px 0px;
  list-style: none;
}

@media screen and (max-width: 450px){
  section h1{
      font-size: 20pt;
  }

  div ul li{
    margin-right: 40px;
  }
}

@media screen and (min-width: 450px) and (max-width:760px){
  h1{
      font-size: 28pt;
  }
}
