body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(147,221,129);
}

body>*{
  font-size: 100%;
  font-family: sans-serif;
}

section{
  align-self: center;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid darkgreen;
}

section div:first-child{
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;

}

p{
  color: darkgreen;
  font-weight: bold;
  font-size: 130%;
}

button{
  color: darkgreen;
  border: none;
  font-weight: bold;

}

button:hover{
  background-color: darkgreen;
  color: rgb(147,221,129);
}

section div:nth-child(2){
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 450px){
  button{
    width: 60px;
    height: 60px;
  }

  p{
    font-size: 85%;
  }
}

@media screen and (min-width: 450px) and (max-width:760px){
  button{
    width: 80px;
    height: 80px;
  }

  p{
    font-size: 90%;
  }
}
